/build/*
/build/main.pdf
/logos/*.pdf
!build/.gitkeep
# 
*.aux
*.bbl
*.bcf*
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.xml
*.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
# 
*.png
*.svg
*.pdf
#
**/**/research/*
#**/**/presentations/*
**/**/presentations/abschlusspraesentation/*
!**/**/presentations/abschlusspraesentation/.gitkeep
!**/**/presentations/abschlusspraesentation/
!**/**/presentations/abschlusspraesentation/template-presentation-main/
!**/**/presentations/abschlusspraesentation/template-presentation-main/template-presentation-main/
**/**/presentations/abschlusspraesentation/template-presentation-main/template-presentation-main/*
!**/**/presentations/abschlusspraesentation/template-presentation-main/template-presentation-main/.gitignore
!**/**/presentations/abschlusspraesentation/template-presentation-main/template-presentation-main/Vorlage_copy.tex
!**/**/presentations/abschlusspraesentation/template-presentation-main/template-presentation-main/Vorlage.tex
**/**/prototypes/**/**/
**/**/template-report-main/**/**/
#
*.eps
*.nav
*.snm
*.vrb
*.bib
#
**/**/prototypes/evidential-deep-learning/*
pages/example_propagation_calculation.tex
